@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&subset=latin-ext");
* {
  box-sizing: border-box; }

html, * {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: 400; }

.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto; }

.sticky {
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #daa050 !important;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.33);
  transition: .5s; }

.header {
  width: auto;
  height: 100vh;
  background-image: url(../images/pic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }
  .header .menu {
    width: 100%;
    height: auto;
    background-color: #daa050; }
    .header .menu ul.toggle {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .header .menu ul.toggle li {
        padding: .6em 0; }
        .header .menu ul.toggle li a {
          text-decoration: none;
          text-transform: uppercase;
          color: #ecf0f1; }
          .header .menu ul.toggle li a:hover {
            color: #fff;
            transition: all .3s; }
  .header .title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 167.19px); }
    .header .title .main-title {
      text-align: center;
      font-size: 2em;
      text-transform: uppercase;
      color: #daa050; }

#about {
  width: 100%;
  height: 480px;
  background-image: url(../images/pic2.png);
  color: #222; }
  #about .wrapper {
    display: flex;
    align-items: center; }
    #about .wrapper .article-title-div {
      width: 555px;
      height: 245px;
      float: left;
      margin-top: 117.5px; }
      #about .wrapper .article-title-div .article-title {
        text-transform: uppercase;
        font-size: 2.3em;
        font-weight: bolder;
        text-decoration: underline;
        text-align: center; }
    #about .wrapper .article-about {
      width: 555px;
      height: 245px;
      float: left;
      margin-top: 117.5px; }
      #about .wrapper .article-about p {
        font-size: 1.2em;
        padding-top: 54px; }

#info {
  width: 100%;
  height: 486px;
  background-color: #daa050;
  overflow: hidden; }
  #info .business-card {
    width: 585px;
    height: 264px;
    background-color: #ecf0f1;
    float: left;
    margin-top: 111px;
    transform: rotate(3deg);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.33); }
    #info .business-card .logo {
      height: 100%;
      width: 215px;
      float: left;
      display: flex; }
      #info .business-card .logo img {
        width: 96px; }
    #info .business-card .address {
      width: 370px;
      height: 100%;
      float: left; }
      #info .business-card .address p {
        padding-top: 46px; }
  #info .name-title {
    text-transform: uppercase;
    font-size: 1.4em;
    color: #ecf0f1;
    font-weight: 700;
    padding-left: 5em;
    padding-top: 236px;
    display: table-cell; }

#offer {
  width: 100%;
  height: 550px;
  background-image: url(../images/pic2.png); }
  #offer .wrapper {
    display: flex;
    align-items: center; }
    #offer .wrapper .article-title-div {
      width: 555px;
      height: 245px;
      float: left;
      margin-top: 117.5px; }
      #offer .wrapper .article-title-div .article-title {
        text-transform: uppercase;
        font-size: 2.3em;
        font-weight: bolder;
        text-decoration: underline;
        text-align: center; }
    #offer .wrapper .article-about {
      width: 555px;
      height: 245px;
      float: left;
      margin-top: 117.5px; }
      #offer .wrapper .article-about p {
        font-size: 1.2em;
        padding-top: 54px; }

#map {
  width: 100%;
  height: 480px; }

#form {
  width: 100%;
  height: 850px;
  background-image: url(../images/pic2.png); }
  #form .wrapper {
    display: flex;
    align-items: center; }
    #form .wrapper .article-title-div {
      width: 555px;
      height: 245px;
      float: left;
      margin-top: 117.5px; }
      #form .wrapper .article-title-div .article-title {
        text-transform: uppercase;
        font-size: 2.3em;
        font-weight: bolder;
        text-decoration: underline;
        text-align: center; }
    #form .wrapper .article-about {
      width: 555px;
      height: 245px;
      float: left;
      margin-top: 117.5px; }
      #form .wrapper .article-about form {
        font-size: 1.2em;
        padding-top: 54px; }
        #form .wrapper .article-about form fieldset {
          border: none; }
          #form .wrapper .article-about form fieldset dd {
            margin-bottom: 12px; }
            #form .wrapper .article-about form fieldset dd:focus {
              background-color: #fff;
              border: solid 1px #daa050; }
          #form .wrapper .article-about form fieldset dl {
            padding-top: 4px; }
          #form .wrapper .article-about form fieldset .formularz {
            font-size: .75em;
            width: 100%;
            background-color: #f7f7f7;
            height: 36px;
            min-height: 14px;
            color: #777;
            opacity: .9;
            border: solid 1px #111;
            padding: 6px; }
            #form .wrapper .article-about form fieldset .formularz:hover {
              background-color: #fff;
              border: solid 1px #daa050; }
            #form .wrapper .article-about form fieldset .formularz:focus {
              background-color: #fff;
              border: solid 1px #daa050; }
          #form .wrapper .article-about form fieldset input[type="submit"] {
            color: #000;
            font-size: 16px;
            border: solid #000 1px;
            text-decoration: none;
            margin-top: 20px;
            text-transform: uppercase;
            background: transparent;
            float: left;
            outline: none;
            padding: 6px 12px; }
            #form .wrapper .article-about form fieldset input[type="submit"]:hover {
              background-color: #daa050;
              color: #fff; }

#footer {
  width: 100%;
  height: 55px;
  background-color: #222; }
  #footer footer {
    line-height: 55px;
    text-align: center; }
  #footer p {
    color: #fff;
    display: inline-block; }
  #footer a {
    color: #daa050;
    text-decoration: none; }
    #footer a:hover {
      color: #fff; }

.hamburger {
  display: none;
  position: relative;
  overflow: hidden;
  float: left;
  width: 48px;
  height: 48px;
  font-size: 0;
  cursor: pointer;
  border: none;
  background-color: #29432a; }

.hamburger:focus {
  outline: none; }

.hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 9px;
  right: 9px;
  height: 4px;
  background: white; }

.hamburger span::before,
.hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: ""; }

.hamburger span::before {
  top: -10px; }

.hamburger span::after {
  bottom: -10px; }

@media screen and (max-width: 944px) {
  #info .business-card {
    width: 409.5px; }
    #info .business-card .logo {
      width: 150.5px; }
    #info .business-card .address {
      width: 259px; }

  #form .wrapper {
    display: block; }
    #form .wrapper .article-title-div {
      padding-top: 70px;
      width: auto;
      height: auto;
      float: none;
      margin-top: 0;
      padding-top: 30px; }
    #form .wrapper .article-about {
      width: auto;
      height: auto;
      float: none;
      margin-top: 0; }

  #offer .wrapper {
    display: block; }
  #offer .article-title-div {
    padding-top: 70px;
    width: auto !important;
    height: auto !important;
    float: none !important;
    margin-top: 0 !important; }
  #offer .article-about {
    width: auto !important;
    height: auto !important;
    float: none !important;
    margin-top: 0 !important; }

  #about .wrapper {
    display: block; }
  #about .article-title-div {
    padding-top: 70px;
    width: auto !important;
    height: auto !important;
    float: none !important;
    margin-top: 0 !important; }
  #about .article-about {
    width: auto !important;
    height: auto !important;
    float: none !important;
    margin-top: 0 !important; } }
@media screen and (max-width: 450px) {
  #info .business-card {
    width: 327.2px; }
    #info .business-card .logo {
      width: 115.4px; }
      #info .business-card .logo img {
        width: 86px; }
    #info .business-card .address {
      width: 205.2px; } }
@media screen and (max-width: 320px) {
  #info .business-card {
    width: 290px; }
    #info .business-card .logo {
      width: 101px; }
      #info .business-card .logo img {
        width: 66px; }
    #info .business-card .address {
      width: 182px; }

  .article-about p {
    font-size: 1.1em !important; } }
@media screen and (max-width: 375px) {
  h2.article-title {
    font-size: 2em !important; } }
@media screen and (max-width: 768px) {
  .header .menu ul.toggle {
    display: block;
    width: auto !important; }

  .hamburger {
    margin-top: 4px;
    display: block; }

  .dropdown {
    display: inline-block; } }

/*# sourceMappingURL=style.css.map */
